outer-box{
    width: 100%;
    height:800px ;
    background-color: darksalmon;
    padding: 10px;

}
.box1{
    width: 45%;
    height: 40%;
    background-color: hotpink;
    float: left;
    margin: 10px;
}
.box2{
    width: 45%;
    height: 40%;
    background-color: gold;
    float:left;
    margin: 10px;
    
}
.box3{
    width: 45%;
    height: 40%;
    background-color:hotpink;
    float:left;
    margin: 10px;
    
}
.box4{
    width: 45%;
    height: 40%;
    background-color: gold;
    float:left;
    margin: 10px;
    
}